.contain-form {
    width: 671px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: auto;
    @include my(36,0);
    padding: 40px;
    &_title {
        @include fontBase(25,36);
        font-weight: 700;
        letter-spacing: 0px;
        text-align: left;
        @include my(0,35);
    }
    .form {
        .contain {
            width: 100%;
        }
    }
}