@import "variables";
.contain-users {
    @include my(36,0);
    .block-filter {
        @include displayFlexSpaceBetween();
        .contain-sort {
            @include displayFlexSpaceAround();
            .contain-sort_total {
                @include mx(0,13);
                @include fontBase(20,29);
                font-weight: bold;
                text-align: left;
                .only {
                    color: $color-active;
                }
            }
        }
    }
    .block-content {
        @include my(28,0);
        .item {
            background: $color-white;
            box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 4%);
            border-radius: 4px;
            @include my(0,26);
            .head {
                @include px(16,16);
                @include py(16,17);
                display: flex;
                flex-wrap: wrap;
                .avatar-portfolio {
                    flex: 0 0 15%;
                    @include mx(0,10);
                }
                .action-portfolio {
                    flex: 0 0 30%;
                    &_title {
                        @include fontBase(16,23);
                        font-style: normal;
                        font-weight: bold;
                        color: $color-base;
                        width: 218px;
                        @include my(0,8);
                    }
                    .info-small {
                        @include displayFlexStart();
                        @include my(0,8);
                        .avatar-small {
                            img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                        .contain-name {
                            &_title {
                                @include fontBase(12,17);
                                font-style: normal;
                                font-weight: bold;
                                color: $color-base;
                            }
                            &_desc {
                                @include fontBase(10,14);
                                font-style: normal;
                                font-weight: normal;
                                text-align: center;
                                color: $color-gray-sm;
                            }
                        }
                    }
                    .portfolio-footer {
                        display: flex;
                    }
                }
                .avatar {
                    flex: 0 0 6%;
                    @include mx(0,10);
                }
                .action {
                    flex: 0 0 45%;
                    width: auto;
                    &-info {
                        display: flex;
                        @include my(0,5);
                        &_name {
                            @include fontBase(16,23);
                            font-weight: bold;
                            text-align: center;
                            color: $color-base;
                            white-space: nowrap;
                            @include mx(0,16);
                        }
                        &_job {
                            @include displayFlexStart();
                            flex-wrap: wrap;
                            .tag {
                                @include mx(0,5);
                                @include my(0,5);
                            }
                        }
                    }
                    &-social {
                        display: flex;
                        align-items: center;
                        @include my(0,7);
                        &_type {
                            @include fontBase(10,14);
                            color: $color-gray-sm;
                            @include mx(0,20);
                            font-weight: normal;
                            text-align: center;

                        }
                        &_list {
                            @include displayFlexSpaceAround();
                            &-item {
                                @include mx(0,11);
                                @include fontBase(10,12);
                                font-style: normal;
                                font-weight: 400;
                                letter-spacing: 0px;
                                text-align: left;
                            }
                        }
                    }
                    &-portfolio {
                        img {
                            border-radius: 4px;
                            @include mx(0,8);
                        }
                    }
                }
                .action-notify {
                    flex: 0 0 37%;
                    .name-notify {
                        @include textH2();
                        @include my(0,12);
                    }
                    .desc-notify {
                        @include textH3();
                        @include my(0,8);
                    }
                    .content-notify {
                        @include textContent();
                        text-align: left;
                        Width: 280px;
                    }
                }
                .info-notify {
                    border-left: 1px solid $color-gray;
                    border-right: 1px solid $color-gray;
                    flex: 0 0 30%;
                    @include px(16,16);
                    .contain-notify {
                        &_title {
                            @include fontBase(12,17);
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            color: $color-base;
                            @include my(0,12);
                        }
                        &_job {
                            flex-wrap: wrap;
                            display: flex;
                            .tag {
                                @include mx(0,5);
                                @include my(0,5);
                            }
                        }
                    }
                }
                .info {
                    border-left: 1px solid $color-gray;
                    border-right: 1px solid $color-gray;
                    flex: 0 0 22%;
                    @include px(16,16);
                    div {
                        @include my(0,12);
                        @include displayFlexSpaceBetween();
                    }
                }
                .account {
                    flex: 0 0 25%;
                    @include px(16,0);
                    div {
                        @include my(0,12);
                        @include displayFlexSpaceBetween();
                    }
                }
                .account-notify {
                    flex: 0 0 33%;
                    @include px(16,0);
                    div {
                        @include my(0,12);
                        @include displayFlexSpaceBetween();
                    }
                }
                .info-portfolio {
                    border-left: 1px solid $color-gray;
                    border-right: 1px solid $color-gray;
                    flex: 0 0 25%;
                    @include px(16,16);
                    div {
                        @include my(0,12);
                        @include displayFlexSpaceBetween();
                    }
                }
            }
            .hr {
                background: $color-gray;
                height: 1px;
                @include mx(16,16);
            }
            .footer {
                @include displayFlexCenter();
                @include my(12,0);
                @include py(0,12);
                .item-button {
                    @include mx(0,12);
                    padding: 3px 35px;
                    @include fontBase(14,20);
                    font-style: normal;
                    font-weight: 500;
                    text-align: center;
                    border-radius: 40px;
                    border: none;
                }
                .detail {
                    border: 1px solid $color-active;
                    box-sizing: border-box;
                    color: $color-active;
                }
                .email {
                    background: $color-active;
                    color: $color-white;
                    outline: 0;
                    padding: 4px 35px;
                }
                .delete {
                    color: $color-base;
                    padding: 4px 35px;
                    background: $color-gray;
                }
            }
        }
    }
}
