@import "variables";

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: $color-white;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    @include px(220, 220);
    @include py(48, 48);
    @include tablet-down() {
        box-shadow: unset;
        border-radius: unset;
    }
    .logo {
        @include my(0, 17);
        display: flex;
        justify-content: center;
    }

    .title {
        @include fontBase(20, 28.96);
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0px;
        text-align: center;
        @include my(0, 28);
    }

    .form {
        .contain {
            width: 335px;
            @include my(0, 12);
            @include iphone5() {
                width: 300px;
            }
            label {
                @include fontBase(12, 17.38);
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0px;
                text-align: left;
                color: $color-base;
            }

            input {
                padding: 20px 0 12.5px;
                @include fontBase(15, 22);
                color: $color-base;
                border: none;
                outline: 0;
                appearance: none;
                transition: all .25s ease-in-out;
                font-weight: 400;
                width: 100%;
                border-bottom: 0.5px solid $color-gray;

                &::-webkit-input-placeholder {
                    color: $color-gray;
                    font-weight: 400;
                    @include fontBase(15, 22);
                }

                &::-ms-input-placeholder {
                    color: $color-gray;
                    font-weight: 400;
                }

                &::placeholder {
                    color: $color-gray;
                    font-weight: 400;
                }

                &:focus {
                    outline: 0;
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    margin: 0;
                    -webkit-appearance: none;
                }
            }
        }
        .footer {
            @include my(36, 0);
            text-align: center;
            button {
                @include fontBase(14, 20);
                height: 44px;
                width: 152px;
                border-radius: 40px;
                background: $color-active;
                outline: 0;
                color: $color-white;
                font-family: Noto Sans JP;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0px;
                text-align: center;
                border: unset;
                cursor: pointer;
            }
        }
    }
}
