.col-sidebar {
    @include px(0,15px);
}
.sidebar {
    .nav-item {
        a {
            @include fontBase(12,17);
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0px;
            text-align: left;
            color: $color-text;
            display: flex;
            align-items: center;
            border-top: 1px solid #E7E7E7;
            border-left: 1px solid #E7E7E7;
            border-right: 1px solid #E7E7E7;
            box-sizing: border-box;
            height: 34px;
            width: 183px;
            background: $color-white;
        }
        .active-sidebar {
            color: $color-active;
            font-weight: 700;
        }
        .last {
            border-bottom: 1px solid #E7E7E7;
        }
    }
}