// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

// Libs
@import "libs/selectize-default";
//@import "../libs/gijgo/gijgo.min.css";

// Variables
@import 'variables';

//common
@import 'mixins.scss';
@import 'breakpoint.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//part
@import 'header';
@import 'sidebar';
@import 'common';
// pages
@import 'login';
@import 'listusers';
@import 'listportfolio';
@import 'createNotify';



html, body, input, button, select, optgroup, textarea{
    font-family: $font-default;
    font-size: 12px;
    color: $color-text;
}
.color-header{
    color: $color-header;
}
.color-active{
    color: $color-active;
}
.color-gray{
    color: $color-gray;
}


